#jh-uniwrapper {
    position: fixed;
    top: 25%;
    left: 50%;
    width: 350px;
    box-shadow: 3px 5px 15px #888888;
    border:1px solid #d1d1d1;
    border-radius: 3px;
    background:#F1F1F1;
    z-index: 10;
    display: none;
}

.jh-unilist li{
    font-family: monospace;
    font-size: x-large;
    list-style-type: none;    
    margin-left: 0px;
    border-top: 1px solid #d1d1d1;
    
}

.jh-unilinkw {
    padding-left: 0.5em;    
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.jh-pdesc {
    font-size: 12px;
    position: relative;
    -webkit-padding-start: 3px;
    -webkit-margin-before: 0px;
    -webkit-padding-before: 3px;
    -webkit-margin-after: 0px;
    -webkit-padding-after: 6px;
    padding-right: 15px;
    color:#9b9b9b;
}

.jh-unilist { 
    background: #FFFFFF;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
.jh-unibar {
    display:block;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    padding: 3px;
    width: 93%;
    font-size: xx-large;
    font-family: monospace;
    border-radius: 3px;
    
}