/*Global Colors*/

.jh-border {
	border-color: #555559;
	background-color: #555559;
	background-image: null;
}

.jh-hover {
	background-color: #c6ecff !important;
}

/*PSE colors*/

.jh-pse-escalated.cb0 {
	background-color: #543005 !important;
	color: white;
}
.jh-pse-escalated {
	background-color: #d7ccc8;
	border-color: #d7ccc8;
}

.jh-pse-waiting.cb0 {
	background-color: #8c510a !important;
	color: white;
}
.jh-pse-waiting {
	background-color: #e2e6e7;
	border-color: #e2e6e7;
}

.jh-pse-esc-eng.cb0 {
	background-color: #bf812d !important;
	border-color: white;
}
.jh-pse-esc-eng {
	background-color: #f1ff9b;
	border-color: #f1ff9b;
}

/*TSE colors*/

.jh-tse-nr.cb0 {
	background-color: rgb(86, 180, 283) !important;

}
.jh-tse-nr {
	background-color: #d7ccc8;
	border-color: #d7ccc8;
}

.jh-tse-ur.cb0 {
	background-color: rgb(0, 158, 115) !important;
}
.jh-tse-ur {
	background-color: #9beeff;
	border-color: #9beeff;
}

.jh-tse-esc-pse.cb0 {
	background-color: rgb(0, 114, 178) !important;
}
.jh-tse-esc-pse {
	background-color: #f1ff9b;
	border-color: #f1ff9b;
}

.jh-tse-esc-eng.cb0 {
	background-color: rgb(0, 114, 178) !important;
}
.jh-tse-esc-eng {
	background-color: #f1ff9b;
	border-color: #f1ff9b;
}

.jh-tse-waiting-cust.cb0 {
	background-color: rgb(240, 228, 66) !important;
}
.jh-tse-waiting-cust {
	background-color: #e2e6e7;
	border-color: #e2e6e7;
}

.jh-tse-patch-delivered.cb0, .jh-prt-high.cb0 div, .jh-prt-high.cb0 a, .jh-prt-high.cb0 span  {
	background-color: rgb(230, 159, 0) !important;
	color: white;
}
.jh-tse-patch-delivered {
	background-color: #CC6600;	
	border-color: #CC6600;	
}

/*PRT Colors*/

.jh-prt-low.cb0 {
	background-color: rgb(240, 228, 66) !important;
}
.jh-prt-low {
	background-color: #EBC299;
	border-color: #EBC299;
}

.jh-prt-med.cb0 {
	background-color: rgb(230, 159, 0) !important;
}
.jh-prt-med {
	background-color: #FFCC66;
	border-color: #FFCC66;
	font: 'italic 12px/18px Arial, Helvetica, sans-serif';
}

.jh-prt-high.cb0, .jh-prt-high.cb0 div, .jh-prt-high.cb0 a, .jh-prt-high.cb0 span  {
	background-color: rgb(204, 121, 167) !important;
	color: white;
	font-weight: 600;
}
.jh-prt-high {
	background-color: #FF9933;
	border-color: #FF9933;
	font: 'bold 12px/18px Arial, Helvetica, sans-serif';
}

.jh-prt-urgent.cb0, .jh-prt-urgent.cb0 div, .jh-prt-urgent.cb0 a, .jh-prt-urgent.cb0 span {
	background-color: rgb(213, 94, 0) !important;
	font: 'italic bold 12px/18px Arial, Helvetica, sans-serif';
    font-weight: heavy;
    color: black;
    font-weight: bold;
    font-style: italic;
}
.jh-prt-urgent, .jh-prt-urgent div, .jh-prt-urgent a, .jh-prt-urgent span {
    background-color: #ff0000;
    border-color: #ff0000;
    font: 'italic bold 12px/18px Arial, Helvetica, sans-serif';
    font-weight: heavy;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;    
}

.jh-hidden {
	display: none;
}



